<component name="ArtifactManager">
  <artifact type="war" name="SpringExcel:war">
    <output-path>$PROJECT_DIR$/target</output-path>
    <properties id="maven-jee-properties">
      <options>
        <module>SpringExcel</module>
        <packaging>war</packaging>
      </options>
    </properties>
    <root id="archive" name="SpringExcel.war">
      <element id="artifact" artifact-name="SpringExcel:war exploded" />
    </root>
  </artifact>
</component>